.poundsignsort {
    font-size: 24px
}

.dateiconsort {
    font-size: 24px
}

.dateicon {
    font-size: 24px
}

.iconfontsize {
    font-size:24px
}

.poundsign {
    font-size: 24px
}

.taskbutton {
    font-size:24px;
}