.poundsignsort {
    font-size: 12px;
    padding: 5px
}

.dateiconsort {
    font-size: 12px;
    padding: 5px
}

.dateicon {
    font-size: 12px
}

.iconfontsize {
    font-size: 12px
}

.poundsign {
    font-size: 12px
}

.taskbutton {
    font-size: 12px;
}